DATABASE=mongodburl

PORT=port_to_run_on
SECRET=secret_app_key

REDIS_HOST=redis_host
REDIS_PORT=redis_port

AWS_IAM_KEY=aws_iam_key
AWS_IAM_SECRET=aws_secret

AWS_S3_BUCKET=aws_bucket_name

RAZORPAY_API_ID=razor_pay_key
RAZORPAY_API_SECRET=razor_pay_secret

RECAPTCHA_KEY=recaptcha_key
RECAPTCHA_SECRET=recaptcha_secret