.min-height-editor-mobile {
    min-height: 520px;
}

#editor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: calc(100% - 54px) !important;
}

.questionname {
    font-weight: medium;
    font-size: 40px;
}